a#navbarDropdownProfile {
    background-color: #fff;
    box-shadow: 5px 5px 5px 3px #a0a0a0;
}
#MastersDropdown ul.nav {
    padding: 10px 0;
}
[class*="col-"] {
    margin-top: 10px;
}
.row {
    padding-top: 10px;
}
#overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
    background-color: #ffffffc7;
    position: absolute;
    z-index: 99999;
}
.additional_fields{
    width: 100%;
}
.btn{
	padding: 8px 25px !important;
}

.dropdown-toggle::after{
	display: none;
}
.dropdown.bootstrap-select {
    width: 100% !important;
}
.form-control{
	padding: 1.475rem .75rem;
}
.btn-light, .btn {
    border: 1px solid #ccc;
    color: #000;
}
.icon_container {
    margin: auto;
    margin-left: 0;
    padding: 25px 10px;
}
label {
    color: #000;
}
button.btn {
    width: 100%;
}
.btn {
    background-color: #00bcd4;
    color: #ffffff;
}
.btn:hover{
	background-color: #fa9f19;
    border-color: #fa9f19;
    color: #fff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active{
	color: #fff !important;
}

button.btn.dropdown-toggle.bs-placeholder.btn-default {
    background-color: #e8e8e8;
}
button.btn.dropdown-toggle.bs-placeholder {
    background-color: #eaeaea;
    color: #000;
}

button.btn.dropdown-toggle {
    background-color: #00bcd4;
    color: #fff;
}

.show>.btn-light.dropdown-toggle {
    background-color: #eaeaea;
}
/*.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    background-color: #00bcd4;
}*/

button.btn.dropdown-toggle.btn-default {
    background-color: #00bcd4;
}

button.btn.dropdown-toggle.btn-default.bs-placeholder {color: #000;}

button.btn.dropdown-toggle.btn-default.bs-placeholder:hover {
    background-color: #00bcd4;
}

span.filter-option.pull-left:hover {
}

.show>.btn.dropdown-toggle:hover {
    background-color: #00bcd4 !important;
}

#MastersDropdown ul.nav {
    background-color: #efefef;
}
li.active a.nav-link.project_dropdown {
    background-color: #fff !important;
}

#project_master_collapse .inactive a {
    background-color: #fff;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
a.nav-link.project_dropdown {
    background-color: #fff;
}
/*ul.dropdown-menu.inner.show {
    position: relative;
    border-color: #fff;
}*/
button.btn.dropdown-toggle.btn-light:hover {
    background-color: #00bcd4;
    border-color: #00bcd4;
}

button.btn.dropdown-toggle.btn-light:focus {
    outline: none !important;
    border: none !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #00bcd4;
}
button.btn.dropdown-toggle.btn-default:focus {
    border: none;
    outline: none !important;
}
a.dropdown-item.selected {
    background-color: #00bcda;
    color: #fff;
    margin-top: 5px;
}
button.btn.dropdown-toggle.disabled.btn-default {
    background-color: #e9ecef;
    color: #000000;
    font-weight: 600;
}

.form-control[disabled] {
    background-color: #e9ecef;
}
.datepicker-panel > ul > li.picked {
    background-color: orange;
    color: #000;
    border-radius: 5px;
}
/*========== MOBILE CSS ==========*/

@media screen and (max-width: 420px){
	.search_fields label {
	    padding-top: 25px;
	}
	.btn.add-fields {
	    padding: 10px !important;
	}
    .mobile_show{
        display: block;   
    }
}